<!-- Sidebar -->
<!-- <ng-include src="'/includes/sidebar-admin.html'"></ng-include> -->
<div class="sidebar-filter" ng-class="{ 'sidebar-filter--is-shown': Sidebar.isSidebarShown() }" ng-click="Sidebar.toggleSidebar()"></div>

<div class="sidebar" ng-class="{ 'sidebar--is-shown': Sidebar.isSidebarShown() }">
    <div class="sidebar-menu">
        <ul>
            <li>
                <a class="sidebar-menu__link" ui-sref="admin.dashboard" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-chart-pie"> Dashboard</i>   
                </a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="admin.events" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-bell-ring"> Events</i>   
                </a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="admin.sites" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-factory"> Sites</i>   
                </a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="admin.machines" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-keg"> Machine</i>   
                </a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="admin.tools" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-duck"> Tool</i>   
                </a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="admin.parts" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-settings"> Parts</i>   
                </a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="admin.vendors" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-auto-fix"> Vendors</i>   
                </a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="admin.users" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-account"> Users</i>   
                </a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="admin.skills" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-auto-fix"> Skills</i>   
                </a>
            </li>            
            <li>
                <a class="sidebar-menu__link" ui-sref="admin.reports" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-chart-line"> Reports</i>   
                </a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="admin.simulator" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-alarm-check"> Simulator</i>   
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-section">
    <div class="main-section__content">
        <ui-view></ui-view>
    </div>
</div>
