<div class="main-section">
    <div class="main-section__title">
        <i class="icon icon--xs icon--blue-grey icon--circled mdi mdi-chart-pie"></i>
        Admin Dashboard
    </div>

  <svg xmlns="http://www.w3.org/2000/svg" 
    height="190" width="305">
    <defs>
      <radialGradient id="GreenBtn">
          <stop offset="10%" stop-color="#4f2"/>
          <stop offset="95%" stop-color="#2a1"/>
      </radialGradient>
      <radialGradient id="YellowBtn">
          <stop offset="10%" stop-color="#ff0">
            <animate attributeName="stop-color"
            values="#da2;#ee0;#ff0;#ff0;#ee0;#da2"
            dur="0.8s"
            repeatCount="indefinite" />
          </stop>
          <stop offset="95%" stop-color="#da2"/>
      </radialGradient>
      <radialGradient id="RedBtn">   <!--  fx="60%" fy="30%"> -->
          <stop offset="10%" stop-color="#fa0">
            <animate attributeName="stop-color"
            values="#f00;#f80;#fa0;#f80;#f00"
            dur="0.8s"
            repeatCount="indefinite" />
          </stop>
          <stop offset="95%" stop-color="#e00">
            <animate attributeName="stop-color"
            values="#800;#a00;#f00;#a00;#800"
            dur="0.8s"
            repeatCount="indefinite" />
          </stop>
      </radialGradient>
    </defs>

    <image xlink:href="/img/aust.png" x="1" y="1" height="182px" width="201px"/>
    <text x="60" y="160">Edinburgh</text>
    <g ng-if="Machines.siteStatus.Edinburgh == 'Running'" stroke="black" fill="url(#GreenBtn)">
      <circle cx="125" cy="130" r="7"/> 
    </g>
    <g ng-if="Machines.siteStatus.Edinburgh == 'Needs Attention'" stroke="black" fill="url(#YellowBtn)">
      <circle cx="125" cy="130" r="7"/> 
    </g>
    <g ng-if="Machines.siteStatus.Edinburgh == 'Stopped'" stroke="black" fill="url(#RedBtn)">
      <circle cx="125" cy="130" r="7"/> 
    </g>

    <text x="202" y="102">Chinderah</text>
    <g ng-if="Machines.siteStatus.Chinderah == 'Running'" stroke="black" fill="url(#GreenBtn)">
      <circle cx="190" cy="100" r="7"/> 
    </g>
    <g ng-if="Machines.siteStatus.Chinderah == 'Needs Attention'" stroke="black" fill="url(#YellowBtn)">
      <circle cx="190" cy="100" r="7"/> 
    </g>
    <g ng-if="Machines.siteStatus.Chinderah == 'Stopped'" stroke="black" fill="url(#RedBtn)">
      <circle cx="190" cy="100" r="7"/> 
    </g>

    <text x="200" y="122">Tomago</text>
    <g ng-if="Machines.siteStatus.Tomago == 'Running'" stroke="black" fill="url(#GreenBtn)">
      <circle cx="190" cy="115" r="7"/>
    </g>
    <g ng-if="Machines.siteStatus.Tomago == 'Needs Attention'" stroke="black" fill="url(#YellowBtn)">
      <circle cx="190" cy="115" r="7"/>
    </g>
    <g ng-if="Machines.siteStatus.Tomago == 'Stopped'" stroke="black" fill="url(#RedBtn)">
      <circle cx="190" cy="115" r="7"/>
    </g>

    <text x="190" y="142">Minto</text>
    <g ng-if="Machines.siteStatus.Minto == 'Running'" stroke="black" fill="url(#GreenBtn)">
      <circle cx="180" cy="130" r="7"/>
    </g>
    <g ng-if="Machines.siteStatus.Minto == 'Needs Attention'" stroke="black" fill="url(#YellowBtn)">
      <circle cx="180" cy="130" r="7"/>
    </g>
    <g ng-if="Machine.siteStatus.Minto == 'Stopped'" stroke="black" fill="url(#RedBtn)">
      <circle cx="180" cy="130" r="7"/>
    </g>

  </svg>    
<c3chart bindto-id="gauge-plot1-chart">
    <chart-column column-id="Uptime"
                  column-values="72"
                  column-type="gauge"/>
    <chart-gauge min="50"
                 max="75"
                 units=" Efficiency"
                 width="39"
                 show-label="true"
                 expand="true"
    />
</c3chart>

<c3chart bindto-id="chart1">
  <chart-column column-id="Actual Downtime"
          column-values="30,200,100,400,150,250"
          column-type="spline"/>
  <chart-column column-id="Scheduled Downtime"
                column-values="50,20,10,40,15,25"
                column-type="line"/>
</c3chart>

    <div class="main-section__content">
        <h4 class="main-section__subtitle">Open Workorders</h4>
            <div class="data-table-container">

              <table class="data-table">
                <thead>
                  <tr>
                      <th> StartDate</th>
                      <th> Est Duration</th>
                      <th> Machine</th>
                      <th> Description</th>
                      <th> Status</th>
                      <th> Assignee</th>
                  </tr>
                </thead>

                <tbody>
                    <tr class="data-table"
                        ng-click="Dashboard.goWorkOrder(row)"
                        ng-class="Dashboard.getWOClass(row)"
                        ng-repeat="row in Dashboard.workorders">
                          <td><a>{{row.StartDate}}</a></td>
                          <td><a>{{row.EstDuration}}</a></td>
                          <td><a>
                            {{row.SiteName}}<br>
                            {{row.MachineName}}<br>
                            {{row.ToolName}}
                          </a></td>
                          <td><a>{{row.Descr}}</a></td>
                          <td><a>{{row.Status}}</a></td>
                          <td>
                              <ul>
                                  <li ng-repeat="a in row.Assignees">{{a.Name}}</li>
                              </ul>
                          </td>
                    </tr>
                </tbody>
              </table>
            </div>

    </div>

<c3chart bindto-id="donut-plot1-chart">
  <chart-column column-id="Scheduled"
              column-values="70"
              column-type="donut"/>
  <chart-column column-id="Preventative"
              column-values="35"
              column-type="donut"/>
  <chart-column column-id="BreakDown"
              column-values="60"
              column-type="donut"/>
  <chart-donut title="WorkOrders" width="60"/>
</c3chart>

<c3chart bindto-id="chart2" show-labels="true">
    <chart-column column-id="x"
                  column-values="period 1,period 2,period 3,period 4,period 5,period 6"/>
    <chart-column column-id="bar1"
                  column-name="Bar 1"
                  column-color="green"
                  column-values="30,200,100,400,150,250"
                  column-type="bar"/>
    <chart-column column-id="bar2"
                  column-name="Bar 2"
                  column-color="red"
                  column-values="50,100,200,300,350,450"
                  column-type="bar"/>
    <chart-bar ratio="0.8"/>
    <chart-axes values-x="x"/>
    <chart-axis>
        <chart-axis-x axis-position="outer-center"
                      axis-label="The periods"
                      axis-type="category"/>
    </chart-axis>
</c3chart>

    <div class="main-section__content">
        <h4 class="main-section__subtitle">Breakdown Events</h4>
        ... Show a summary of breakdown events here

    </div>

<c3chart bindto-id="chart4">
  <chart-column column-id="x"
          column-values="period 10,period 20,period 30,period 40,period 50,period 60"/>
  <chart-column column-id="data1"
            column-name="WorkOrders"
            column-color="red"
            column-values="30,200,100,400,150,250"
          column-type="spline"/>
  <chart-column column-id="data2"
            column-name="Alerts"
            column-color="green"
                column-values="50,20,10,40,15,25"
                column-type="line"/>
  <chart-column column-id="data3"
            column-name="Scheduled"
            column-color="#000000"
                column-values="150,20,100,70,85,215"
                column-type="spline"/>
  <chart-axes values-x="x" y="data1,data3" y2="data2"/>                 
   
  <chart-axis>
    <chart-axis-x axis-position="outer-center"
                  axis-label="Number by 10"
                  axis-type="category">
          <chart-axis-x-tick tick-rotate="50"/>
      </chart-axis-x>


    <chart-axis-y axis-id="y"
                  axis-position="outer-right"
                  axis-label="Higher numbers"
                  padding-top="100"
                  padding-bottom="0"
                  range-min="0"/>
    <chart-axis-y axis-id="y2"
                  axis-position="outer-right"
                  axis-label="Lower numbers"
                  padding-top="10"
                  padding-bottom="0"
                  range-max="100"
                  range-min="0"/>

 
  </chart-axis>
    <chart-grid show-x="false" show-y="true">
    <chart-grid-optional axis-id="x" grid-value="1" grid-text="Start"/>
    <chart-grid-optional axis-id="y" grid-value="20" grid-text="Minimum"/>
    <chart-grid-optional axis-id="y" grid-value="200" grid-text="Maximum"/>
  </chart-grid>
 
</c3chart>


    <div class="main-section__content">
        <h4 class="main-section__subtitle">Preventative Maintenance Events</h4>
        .. Show a summary of preventative maintenance events here
    </div>
</div>
