<div class="data-table-container">
  <header class="data-table-header">
    <div class="data-table-header__label">
      <i class="icon icon--xs icon--blue-grey icon--circled mdi mdi-bell-ring"></i>
      <span class="fs-title">Recent Machine Events</span>
    </div>
  </header>

  <table class="data-table">
    <thead>
      <tr>
        <th> Date</th>
        <th> Type</th>
        <th> Site</th>
        <th> Machine</th>
        <th> UserName</th>
        <th> Description</th>
        <th> Costs</th>
      </tr>
    </thead>
    <tbody>
      <tr class="data-table"
      		ng-class="Events.getClass(row)"
      		ng-repeat="row in Events.events"
      		ng-click="Events.clickEdit(row)"> 
            <td><a>{{row.StartDate}}</a></td>
            <td>{{row.Type}}</td>
            <td><a ng-click="Events.goSite(row)">{{row.SiteName}}</a></td>
            <td><a ng-click="Events.goMachine(row)">{{row.MachineName}}</a></td>
            <td>{{row.Username}}</td>
            <td>{{row.Notes}}</td>
            <td>L: {{row.LabourCost}}<br>M: {{row.MaterialCost}}<br>O: {{row.OtherCost}}</td>
      </tr>
    </tbody>
  </table>
</div>
