<lx-dialog class="dialog dialog__scrollable dialog--l bgc-light-gradient" id='changeDialog' escape-close="true">
    <div class="dialog__header">
        <div class="toolbar bgc-indigo-800 pl++">
            <span class="toolbar__label tc-white fs-title">
                Record Modification Details
            </span>       
            <span lx-dialog-close class="white">X</span>     
        </div>

        <h3>{{editMachine.Audit.Username}} : {{editMachine.Audit.Logdate}} : {{editMachine.Audit.IP}}</h3>
        <p>
        <h4>Before:</h4>
        <ul>
          <li ng-repeat="r in editMachine.Before">{{r}}</li>
        </ul>
        <h4>After:</h4>
        <ul>
          <li ng-repeat="r in editMachine.After">{{r}}</li>
        </ul>
    </div>
</lx-dialog>


<div class="main-section__title">
  <i class="icon icon--xs icon--blue-grey icon--circled mdi mdi-keg"></i>
  Machine Details - {{editMachine.machine.Name}} {{editMachine.machine.Serialnum}}
</div>

<!-- Machine SVG representation -->
<div>
  <svg class="svg-panel" xmlns="http://www.w3.org/2000/svg">
    <rect ng-class="editMachine.getSVGClass()"/>  
    <svg ng-repeat="row in editMachine.components" 
         ng-attr-x="{{editMachine.toolOffset($index)}}" 
         ng-click="editMachine.goTool(row)">
      <rect class="tool-svg" 
            ng-attr-width="{{editMachine.toolWidth()}}" />
      <text ng-if="row.Qty > 1" transform="translate(40 140)">x{{row.Qty}}</text>
      <text class="label-svg" 
            transform="translate(20) rotate(40 0,0) translate(0 20)">{{row.StockCode}}<tspan x="16" y="16">{{row.Name}}</tspan>
      </text>
    </svg>
  </svg>
</div>

<!-- End machine SVG representation -->

<form name="editMachine.form" ng-submit="editMachine.submit()">

<formly-form model="editMachine.machine" fields="editMachine.formFields">

<div flex-container="row" flex-align="end" item="1">
    <div flex-item>
      <button type="button" class="btn btn--l btn--blue-grey btn--raised" ng-click="editMachine.abort()" lx-ripple>Back</button>
    </div>
    <div flex-item>
      <button type="submit" 
              class="btn btn--l btn--blue btn--raised" 
              lx-ripple>
                Save Details
      </button>
    </div>
</div>

</formly-form>
</form>

<div class="card">
  <lx-tabs>
    <lx-tab heading="Tools">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Name</th>
              <th> Tool #</th>
              <th> Description</th>
              <th> Make</th>
              <th> Model</th>
              <th> Qty</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editMachine.components">
                  <td><a ng-click="editMachine.goTool(row)"># {{row.Position}}:<br>{{row.Name}}</a></td>
                  <td><a ng-click="editMachine.goTool(row)">{{row.StockCode}}</a></td>
                  <td>{{row.Descr | limitTo:32}}</td>
                  <td>{{row.Make}}</td>
                  <td>{{row.Model}}</td>
                  <td>{{row.Qty}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

    <lx-tab heading="Parts">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Stock Code</th>
              <th> Name</th>
              <th> Tool</th>
              <th> Qty</th>
              <th> Re-Order Levels</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editMachine.parts">
                  <td><a ng-click="editMachine.goPart(row)">{{row.StockCode}}</a></td>
                  <td><a ng-click="editMachine.goPart(row)">{{row.Name}}</a></td>
                  <td><a ng-click="editMachine.goPart(row)">{{row.ToolCode}} / {{row.ToolName}}</a></td>
                  <td>{{row.Qty}}</td>
                  <td>{{row.ReorderStocklevel}} / {{row.ReorderQty}} (@ ${{row.LatestPrice}} {{row.QtyType}})</td>

            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

    <lx-tab heading="WorkOrders">
    </lx-tab>

    <lx-tab heading="Notes">
      <div class="card">
        <textarea ng-wig="editMachine.machine.Notes"></textarea>
      </div>    
    </lx-tab>

    <lx-tab heading="Documents">
    </lx-tab>

    <lx-tab heading="Activity Log">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Event</th>
              <th> Date</th>
              <th> Description</th>
              <th> IP Address</th>
              <th> By</th>
              <th> Change</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-class="editMachine.logClass(l)"           
                ng-repeat="l in editMachine.logs">
                  <td>{{l.Type}}</td>
                  <td>{{l.Logdate}}</td>
                  <td>{{l.Descr}}</td>
                  <td>{{l.IP}}</td>
                  <td>{{l.Username}}</td>
                  <td>
                    <button ng-if="l.Before != ''" 
                      class="btn btn--m btn--blue btn--icon" 
                        ng-click="editMachine.showChange(l); $event.stopPropagation()"
                        lx-ripple>
                          <i class="mdi mdi-plus"></i>
                    </button>
                  </td>

            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

  </lx-tabs>
</div>

