<h3 class="main-section__title">Site Details</h3>

<form name="editSite.form" ng-submit="editSite.submit()">

<formly-form model="editSite.site" fields="editSite.formFields">

<div flex-container="row" flex-align="end">
    <div flex-item>
      <button type="button" class="btn btn--l btn--blue-grey btn--raised" ng-click="editSite.abort()" lx-ripple>Back</button>
    </div>
    <div flex-item>
      <button type="submit" 
              class="btn btn--l btn--blue btn--raised" 
              lx-ripple>
                Save Details
      </button>
    </div>
</div>

</formly-form>
</form>

<div class="card">
  <lx-tabs>
    <lx-tab heading="Machines">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Name</th>
              <th> Serial #</th>
              <th> Description</th>
              <th> Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editSite.machines">
                  <td><a ng-click="editSite.goMachine(row)">{{row.Name}}</a></td>
                  <td>{{row.Serialnum}}</td>
                  <td>{{row.Descr}}</td>
                  <td>{{row.IsRunning}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

    <lx-tab heading="WorkOrders">
    </lx-tab>

    <lx-tab heading="Users">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Name</th>
              <th> Email</th>
              <th> SMS</th>
              <th> Role</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="u in editSite.users">
                  <td><a ng-click="editSite.goUser(u)">{{u.Name}}</a></td>
                  <td>{{u.Email}}</td>
                  <td>{{u.SMS}}</td>
                  <td>{{u.Role}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

    <lx-tab heading="Activity Log">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Event</th>
              <th> Date</th>
              <th> Description</th>
              <th> IP Address</th>
              <th> By</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-class="editSite.logClass(l)"           
                ng-repeat="l in editSite.logs">
                  <td>{{l.Type}}</td>
                  <td>{{l.Logdate}}</td>
                  <td>{{l.Descr}}</td>
                  <td>{{l.IP}}</td>
                  <td>{{l.Username}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

  </lx-tabs>
</div>

