<lx-dialog class="dialog dialog__scrollable dialog--l bgc-light-gradient" id='changeDialog' escape-close="true">
    <div class="dialog__header">
        <div class="toolbar bgc-indigo-800 pl++">
            <span class="toolbar__label tc-white fs-title">
                Record Modification Details
            </span>       
            <span lx-dialog-close class="white">X</span>     
        </div>

        <h3>{{editSkill.Audit.Username}} : {{editSkill.Audit.Logdate}} : {{editSkill.Audit.IP}}</h3>
        <p>
        <h4>Before:</h4>
        <ul>
          <li ng-repeat="r in editSkill.Before">{{r}}</li>
        </ul>
        <h4>After:</h4>
        <ul>
          <li ng-repeat="r in editSkill.After">{{r}}</li>
        </ul>
    </div>
</lx-dialog>


<div class="main-section__title">
  <i class="icon icon--xs icon--blue-grey icon--circled mdi mdi-auto-fix"></i>
  Skill Details
</div>

<h3 class="main-section__title">Skill Details</h3>

<form name="editSkill.form" ng-submit="editSkill.submit()">

<formly-form model="editSkill.skill" fields="editSkill.formFields">

<div flex-container="row">
  <div class="toolbar">
    <div class="toolbar__left">
      <button type="button" class="btn btn--l btn--blue-grey btn--raised" ng-click="editSkill.abort()" lx-ripple>Back</button>      
    </div>
    <div class="toolbar__right">
      <button type="submit"
              class="btn btn--l btn--blue btn--raised" 
              lx-ripple>
                Save Details
      </button>      
    </div>
  </div>
</div>

</formly-form>
</form>

<div class="card">
  <lx-tabs>
    <lx-tab heading="Notes">
      <div class="card">
        <textarea ng-wig="editSkill.skill.Notes"></textarea>
      </div>    
    </lx-tab>

    <lx-tab heading="Documents">
    </lx-tab>

    <lx-tab heading="WorkOrders">
    </lx-tab>

    <lx-tab heading="Users">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Name</th>
              <th> Email</th>
              <th> SMS</th>
              <th> Site</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="u in editSkill.users">
                  <td><a ng-click="editSkill.goUser(u)">{{u.Name}}</a></td>
                  <td>{{u.Email}}</td>
                  <td>{{u.SMS}}</td>
                  <td><a ng-click="editSkill.goSite(u)">{{u.SiteName}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

    <lx-tab heading="Activity Log">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Event</th>
              <th> Date</th>
              <th> Description</th>
              <th> IP Address</th>
              <th> By</th>
              <th> Change</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-class="editSkill.logClass(l)"           
                ng-repeat="l in editSkill.logs">
                  <td>{{l.Type}}</td>
                  <td>{{l.Logdate}}</td>
                  <td>{{l.Descr}}</td>
                  <td>{{l.IP}}</td>
                  <td>{{l.Username}}</td>
                  <td>
                    <button ng-if="l.Before != ''" 
                      class="btn btn--m btn--blue btn--icon" 
                        ng-click="editSkill.showChange(l); $event.stopPropagation()"
                        lx-ripple>
                          <i class="mdi mdi-plus"></i>
                    </button>
                  </td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

  </lx-tabs>
</div>

