<lx-dialog class="dialog dialog__scrollable dialog--l bgc-light-gradient" id='changeDialog' escape-close="true">
    <div class="dialog__header">
        <div class="toolbar bgc-indigo-800 pl++">
            <span class="toolbar__label tc-white fs-title">
                Record Modification Details
            </span>       
            <span lx-dialog-close class="white">X</span>     
        </div>

        <h3>{{editTool.Audit.Username}} : {{editTool.Audit.Logdate}} : {{editTool.Audit.IP}}</h3>
        <p>
        <h4>Before:</h4>
        <ul>
          <li ng-repeat="r in editTool.Before">{{r}}</li>
        </ul>
        <h4>After:</h4>
        <ul>
          <li ng-repeat="r in editTool.After">{{r}}</li>
        </ul>
    </div>
</lx-dialog>


<div class="main-section__title">
  <i class="icon icon--xs icon--blue-grey icon--circled mdi mdi-settings"></i>
  Tool Details - {{editTool.component.Name}} {{editTool.component.StockCode}}
</div>

<!-- Component SVG representation -->
<div>
  <svg ng-class="editTool.getPanelClass()">
    <svg ng-repeat="row in editTool.parts" ng-attr-x="{{editTool.partOffset($index)}}" ng-click="editTool.goPart(row)">
      <rect class="part-svg" ng-attr-width="{{editTool.partWidth()}}"/>
      <text class="label-svg" transform="translate(20) rotate(40 0,0) translate(0 20)">{{row.StockCode}}<tspan x="16" y="16">{{row.Name}}</tspan></text>
    </svg>
  </svg>
</div>

<!-- End Component SVG representation -->

<form name="editTool.form" ng-submit="editTool.submit()">

<formly-form model="editTool.component" fields="editTool.formFields">

<div flex-container="row" flex-align="end" item="1">
    <div flex-item>
      <button type="button" class="btn btn--l btn--blue-grey btn--raised" ng-click="editTool.abort()" lx-ripple>Back</button>
    </div>
    <div flex-item>
      <button type="submit" 
              class="btn btn--l btn--blue btn--raised" 
              lx-ripple>
                Save Details
      </button>
    </div>
</div>

</formly-form>
</form>

<div class="card">
  <lx-tabs>
    <lx-tab heading="Events">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Date</th>
              <th> Event</th>
              <th> User</th>
              <th> Description</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editTool.events">
                  <td>{{row.StartDate}}</td>
                  <td>{{row.Type}}</td>
                  <td>{{row.Username}}</td>
                  <td>{{row.Notes}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

    <lx-tab heading="Parts">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> StockCode</th>
              <th> Description</th>
              <th> Qty</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editTool.parts">
                  <td><a ng-click="editTool.goPart(row)">{{row.StockCode}}</a></td>
                  <td><a ng-click="editTool.goPart(row)">{{row.Name}}</a></td>
                  <td>{{row.Qty}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

    <lx-tab heading="Notes">
      <div class="card">
        <textarea ng-wig="editTool.component.Notes"></textarea>
      </div>   
    </lx-tab>

    <lx-tab heading="Documents">
    <form>
      <div flex-container="row" flex-gutter="24">
        <div flex-item="5">
          <lx-text-field label="Description" >
            <input type="text" ng-model="editMachine.doc">
          </lx-text-field>
        </div>
      </div>
      <div flex-container="row" flex-gutter="24">
          <div flex-item="10">
            <lx-file-input label="Upload New Document ..." change="editMachine.upload(e)"></lx-file-input>
          </div>
          <div flex-item="2">
            <div id="upload-progress">{{editMachine.uploadProgress}}</div>          
          </div>
      </div>
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Name</th>
              <th> File</th>
              <th> Size</th>
              <th> Uploaded</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editMachine.docs">
                  <td>{{row.Name}}</td>
                  <td>
                    <a ng-href="doc/{{row.ID}}" 
                       target="_self" 
                       download="{{row.Filename}}">
                      {{row.Filename}}
                    </a>
                  </td>
                  <td>{{row.Filesize}}</td>
                  <td>{{row.Created}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
    </lx-tab>

    <lx-tab heading="StockTake">
    </lx-tab>

    <lx-tab heading="Activity Log">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Event</th>
              <th> Date</th>
              <th> Description</th>
              <th> IP Address</th>
              <th> By</th>
              <th> Change</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-class="editTool.logClass(l)"           
                ng-repeat="l in editTool.logs">
                  <td>{{l.Type}}</td>
                  <td>{{l.Logdate}}</td>
                  <td>{{l.Descr}}</td>
                  <td>{{l.IP}}</td>
                  <td>{{l.Username}}</td>
                  <td>
                    <button ng-if="l.Before != ''" 
                      class="btn btn--m btn--blue btn--icon" 
                        ng-click="editTool.showChange(l); $event.stopPropagation()"
                        lx-ripple>
                          <i class="mdi mdi-plus"></i>
                    </button>
                  </td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

  </lx-tabs>
</div>

