<div class="main-section__title">
  <i class="icon icon--xs icon--blue-grey icon--circled mdi mdi-account"></i>
  User Details
</div>

<form name="editUser.form" ng-submit="editUser.submit()">

<formly-form model="editUser.user" fields="editUser.formFields">

<div flex-container="row" flex-align="end" item="1">
    <div flex-item>
      <button type="button" class="btn btn--l btn--blue-grey btn--raised" ng-click="editUser.abort()" lx-ripple>Back</button>
    </div>
    <div flex-item>
      <button type="submit" 
              class="btn btn--l btn--blue btn--raised" 
              lx-ripple>
                Save Details
      </button>
    </div>
</div>

</formly-form>
</form>

<div class="card">
  <lx-tabs>
    <lx-tab heading="Notes">
      <div class="card">
        <textarea ng-wig="editUser.Notes"></textarea>
      </div>
    </lx-tab>

    <lx-tab heading="Documents">
    </lx-tab>

    <lx-tab heading="WorkOrders">
    </lx-tab>

    <lx-tab heading="Activity Log">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Event</th>
              <th> Date</th>
              <th> Description</th>
              <th> IP Address</th>
              <th> By</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-class="editUser.logClass(l)"           
                ng-repeat="l in editUser.logs">
                  <td>{{l.Type}}</td>
                  <td>{{l.Logdate}}</td>
                  <td>{{l.Descr}}</td>
                  <td>{{l.IP}}</td>
                  <td>{{l.Username}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

  </lx-tabs>
</div>

