<div class="main-section__title">
  <i class="icon icon--xs icon--blue-grey icon--circled mdi mdi-factory"></i>
  Work Order Details
</div>

<form name="editWorkorder.form" ng-submit="editWorkorder.submit()">

<formly-form model="editWorkorder.workorder" fields="editWorkorder.formFields">
  <div flex-container="row" ng-if="editWorkorder.docs.length > 0">
    <div flex-item ng-repeat="row in editWorkorder.docs">
      <div class="card" style="height: 240px">
        <div flex-container="row">
          <div flex-item flex-container="column">
            <div class="p+">
              <div flex-item class="card__img card__img--left" style="height: 140px">
                <a ng-href="doc/{{row.ID}}" target="_doc">              
                  <img ng-src="{{editWorkorder.getThumbnail(row)}}">
                </a>  
              </div>
              <span flex-item class="fs-subhead tc-black-2 display-block">
                {{row.Name}} 
              </span>
            </div>          
          </div>
        </div>
      </div>
    </div>
  </div>

<div flex-container="row">
  <div class="toolbar">
    <div class="toolbar__left">
      <button type="button" class="btn btn--l btn--blue-grey btn--raised" ng-click="editWorkorder.abort()" lx-ripple>
        <i class="mdi mdi-chevron-left"> Back</i>
      </button>
    </div>
    <div class="toolbar__right">
      <button type="submit"
              class="btn btn--l btn--blue btn--raised" 
              lx-ripple>
                Update Notes
      </button>      
    </div>
  </div>
</div>

</formly-form>
</form>

<div class="card">
  <lx-tabs>

    <lx-tab heading="Notes">
      <div class="card">
        <textarea ng-wig="editWorkorder.workorder.Notes"></textarea>
      </div>
    </lx-tab>

    <lx-tab heading="Documents">
    <form>
      <div flex-container="row" flex-gutter="24">
        <div flex-item="5">
          <lx-text-field label="Description" >
            <input type="text" ng-model="editWorkorder.doc">
          </lx-text-field>
        </div>
      </div>
      <div flex-container="row" flex-gutter="24">
          <div flex-item="10">
            <lx-file-input label="Upload New Document ..." value="filename" change="editWorkorder.upload(e)"></lx-file-input>
          </div>
          <div flex-item="2">
            <div id="upload-progress">{{editWorkorder.uploadProgress}}</div>          
          </div>
      </div>
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Name</th>
              <th> File</th>
              <th> Size</th>
              <th> Uploaded</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editWorkorder.docs">
                  <td>{{row.Name}}</td>
                  <td>
                    <a ng-href="doc/{{row.ID}}" 
                       target="_doc">
                      {{row.Filename}}
                    </a>
                  </td>
                  <td>{{row.Filesize}}</td>
                  <td>{{row.Created}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
    </lx-tab>


  </lx-tabs>
</div>

