<!doctype html>
<html lang="en" ng-app="cmms">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iTrak CMMS v.2</title>

    <!-- Head -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">   
    <link href="css/app.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="http://shared.supaloc.com.au/themes/supaloc-foundation/assets/img/icons/favicon.ico?v=2" type="image/x-icon">

	<!-- LumX -->
	<script src="js/lumx.js"></script>

	<!-- Our App -->
    <script src="./js/app.js"></script>

	<style>
	</style>

  </head>
  <!-- <body ng-controller="loginCtrl">-->

<body class="mainPage" ng-controller="loginCtrl as loginCtrl">
    <header id="header"><!-- header -->
        <h1 class="logo"><a href="#">Steel Building Systems International</a></h1>
        <nav id="nav">
        </nav>
    </header><!-- end header -->

      <div class="mainPage-body">
        <main class="mainPage-content">
            <ui-view></ui-view>
        </main>

        <nav class="mainPage-nav">
        </nav>

        <aside class="mainPage-alerts">
        </aside>
      </div>
      <footer id="footer">
        <p>&copy;2015 Steel Building Systems International</p>         
      </footer>


<lx-dialog class="dialog dialog--l" 
  id="loginDialog" 
  auto-close="true" 
  onclose="closingDialog()" 
  onscrollend="scrollEndDialog()">

    <div class="dialog__header">
        <div class="toolbar bgc-blue-700 pl++">
            <span class="toolbar__label tc-white fs-title">
                CMMS Login
            </span>
        </div>
    </div>

    <div class="dialog__content">

    <div class="mt++" flex-container="row" flex-gutter="24">
        <div flex-item>
            <form>
                <lx-text-field label="User Name" fixed-label="true" icon="account">
                    <input type="text" ng-model="loginCtrl.username">
                </lx-text-field>

                <lx-text-field label="Password" fixed-label="true" icon="fingerprint">
                    <input type="password" ng-model="loginCtrl.passwd">
                </lx-text-field>
            </form>
        </div>
    </div>

    </div>

    <div class="dialog__actions">
        <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
        <button class="btn btn--m btn--black btn--flat" lx-ripple ng-click="loginCtrl.login()">Login</button>
    </div>
</lx-dialog>

</body>
</html>
