<div class="main-section__title">
  <i class="icon icon--xs icon--blue-grey icon--circled mdi mdi-keg"></i>
  Machine Details - {{editMachine.machine.Name}} {{editMachine.machine.Serialnum}}
</div>

<!-- Machine SVG representation -->
<div>
  <svg class="svg-panel">
    <rect ng-class="editMachine.getSVGClass()"/>  
    <svg ng-repeat="row in editMachine.components" 
         ng-attr-x="{{editMachine.toolOffset($index)}}" 
         ng-click="editMachine.goTool(row)">
      <rect ng-class="editMachine.getToolClass(row)" 
            ng-attr-width="{{editMachine.toolWidth()}}" />
      <text ng-if="row.Qty > 1" transform="translate(40 140)">x{{row.Qty}}</text>
      <text class="label-svg" 
            transform="translate(20) rotate(40 0,0) translate(0 20)">{{row.StockCode}}<tspan x="16" y="16">{{row.Name}}</tspan>
      </text>
    </svg>
  </svg>
</div>

<!-- End machine SVG representation -->

<form name="editMachine.form" ng-submit="editMachine.submit()">

<div flex-container="row">
  <div class="toolbar">
    <div class="toolbar__left">
      <button type="button" class="btn btn--l btn--blue-grey btn--raised" ng-click="editMachine.abort()" lx-ripple>Back</button>      
    </div>
    <div class="toolbar__right">
      <button type="submit" ng-if="editMachine.canEdit()"
              class="btn btn--l btn--blue btn--raised" 
              lx-ripple>
                Save Details
      </button>      
      <button type="button" ng-if="editMachine.canClear()"
              class="btn btn--l btn--orange btn--raised" 
              ng-click="editMachine.Clear()"
              lx-ripple>
                Reset / Clear all Issues
      </button>      
    </div>
  </div>
</div>

<formly-form model="editMachine.machine" fields="editMachine.formFields">
</formly-form>
</form>

<div class="card">
  <lx-tabs>
    <lx-tab heading="Events">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Date</th>
              <th> Event</th>
              <th> User</th>
              <th> Description</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editMachine.events">
                  <td>{{row.StartDate}}</td>
                  <td>{{row.Type}}</td>
                  <td>{{row.Username}}</td>
                  <td>{{row.Notes}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

    <lx-tab heading="Tools">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Name</th>
              <th> Tool #</th>
              <th> Description</th>
              <th> Make</th>
              <th> Model</th>
              <th> Qty</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editMachine.components">
                  <td><a ng-click="editMachine.goTool(row)"># {{row.Position}}:<br>{{row.Name}}</a></td>
                  <td><a ng-click="editMachine.goTool(row)">{{row.StockCode}}</a></td>
                  <td>{{row.Descr | limitTo:32}}</td>
                  <td>{{row.Make}}</td>
                  <td>{{row.Model}}</td>
                  <td>{{row.Qty}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

    <lx-tab heading="Parts">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Stock Code</th>
              <th> Name</th>
              <th> Tool</th>
              <th> Qty</th>
              <th> Re-Order Levels</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editMachine.parts">
                  <td><a ng-click="editMachine.goPart(row)">{{row.StockCode}}</a></td>
                  <td><a ng-click="editMachine.goPart(row)">{{row.Name}}</a></td>
                  <td><a ng-click="editMachine.goPart(row)">{{row.ToolCode}} / {{row.ToolName}}</a></td>
                  <td>{{row.Qty}}</td>
                  <td>{{row.ReorderStocklevel}} / {{row.ReorderQty}} (@ ${{row.LatestPrice}} {{row.QtyType}})</td>

            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

    <lx-tab heading="Notes">
      <div class="card">
        <textarea ng-wig="editMachine.machine.Notes"></textarea>
      </div>    
    </lx-tab>

    <lx-tab heading="Documents">
    <form>
      <div flex-container="row" flex-gutter="24">
        <div flex-item="5">
          <lx-text-field label="Description" >
            <input type="text" ng-model="editMachine.doc">
          </lx-text-field>
        </div>
      </div>
      <div flex-container="row" flex-gutter="24">
          <div flex-item="10">
            <lx-file-input label="Upload New Document ..." change="editMachine.upload(e)"></lx-file-input>
          </div>
          <div flex-item="2">
            <div id="upload-progress">{{editMachine.uploadProgress}}</div>          
          </div>
      </div>
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Name</th>
              <th> File</th>
              <th> Size</th>
              <th> Uploaded</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editMachine.docs">
                  <td>{{row.Name}}</td>
                  <td>
                    <a ng-href="doc/{{row.ID}}" 
                       target="_self" 
                       download="{{row.Filename}}">
                      {{row.Filename}}
                    </a>
                  </td>
                  <td>{{row.Filesize}}</td>
                  <td>{{row.Created}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
    </lx-tab>

  </lx-tabs>
</div>

