<!-- Sidebar -->
<div class="sidebar-filter" ng-class="{ 'sidebar-filter--is-shown': Sidebar.isSidebarShown() }" ng-click="Sidebar.toggleSidebar()"></div>

<div class="sidebar" ng-class="{ 'sidebar--is-shown': Sidebar.isSidebarShown() }">
    <div class="sidebar-menu">
        <ul>
            <li>
                <a class="sidebar-menu__link" ui-sref="sitemgr.dashboard" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-chart-pie"> Dashboard</i>   
                </a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="sitemgr.workorders" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-calendar-text"> WorkOrders</i>   
                </a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="sitemgr.machines" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-keg"> Machine</i>   
                </a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="sitemgr.sites" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-factory"> All Sites</i>   
                </a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="sitemgr.users" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-account"> Users</i>   
                </a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="sitemgr.reports" ng-click="Sidebar.toggleSidebar()">
                  <i class="icon icon--xs icon--blue-grey mdi mdi-chart-line"> Reports</i>   
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-section">
    <div class="main-section__content">
        <ui-view></ui-view>
    </div>
</div>
