<div class="main-section__title">
  <i class="icon icon--xs icon--blue-grey icon--circled mdi mdi-settings"></i>
  Tool Details - {{editTool.component.Name}} {{editTool.component.StockCode}}
</div>

<!-- Component SVG representation -->
<div>
  <svg class="svg-panel">
    <text class="label-svg-header" 
          ng-if="editTool.parts.length > 0" 
          transform="translate(20,155)">
          Parts used in this Tool
    </text>
    <text class="label-svg-header" 
          ng-if="editTool.parts.length == 0" 
          transform="translate(20,20)">
          There are NO Parts defined for this Tool
    </text>  
    <svg ng-repeat="row in editTool.parts" ng-attr-x="{{editTool.partOffset($index)}}" ng-click="editTool.goPart(row)">
      <rect class="part-svg" ng-attr-width="{{editTool.partWidth()}}"/>
      <text class="label-svg" transform="translate(20) rotate(40 0,0) translate(0 20)">{{row.StockCode}}<tspan x="16" y="16">{{row.Name}}</tspan></text>
    </svg>
  </svg>
</div>

<!-- End Component SVG representation -->

<form name="editTool.form" ng-submit="editTool.submit()">


<div flex-container="row">
  <div class="toolbar">
    <div class="toolbar__left">
      <button type="button" class="btn btn--l btn--blue-grey btn--raised" ng-click="editTool.abort()" lx-ripple>
        <i class="mdi mdi-chevron-left"> Back</i>
      </button>
    </div>
    <div class="toolbar__right">
      <button type="submit" ng-if="editTool.canEdit()"
              class="btn btn--l btn--blue btn--raised" 
              lx-ripple>
                Save Details
      </button>      
    </div>
  </div>
</div>

<formly-form model="editTool.component" fields="editTool.formFields">
</formly-form>
</form>

<div class="card">
  <lx-tabs>
    <lx-tab heading="Events">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Date</th>
              <th> Event</th>
              <th> User</th>
              <th> Description</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editTool.events">
                  <td>{{row.StartDate}}</td>
                  <td>{{row.Type}}</td>
                  <td>{{row.Username}}</td>
                  <td>{{row.Notes}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>
  
    <lx-tab heading="Parts">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> StockCode</th>
              <th> Description</th>
              <th> Qty</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editTool.parts">
                  <td><a ng-click="editTool.goPart(row)">{{row.StockCode}}</a></td>
                  <td><a ng-click="editTool.goPart(row)">{{row.Name}}</a></td>
                  <td>{{row.Qty}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

    <lx-tab heading="Notes">
      <div class="card">
        <textarea ng-wig="editTool.component.Notes"></textarea>
      </div>   
    </lx-tab>

    <lx-tab heading="Documents">
    <form>
      <div flex-container="row" flex-gutter="24">
        <div flex-item="5">
          <lx-text-field label="Description" >
            <input type="text" ng-model="editTool.doc">
          </lx-text-field>
        </div>
      </div>
      <div flex-container="row" flex-gutter="24">
          <div flex-item="10">
            <lx-file-input label="Upload New Document ..." change="editTool.upload(e)"></lx-file-input>
          </div>
          <div flex-item="2">
            <div id="upload-progress">{{editTool.uploadProgress}}</div>          
          </div>
      </div>
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Name</th>
              <th> File</th>
              <th> Size</th>
              <th> Uploaded</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editTool.docs">
                  <td>{{row.Name}}</td>
                  <td>
                    <a ng-href="doc/{{row.ID}}" 
                       target="_self" 
                       download="{{row.Filename}}">
                      {{row.Filename}}
                    </a>
                  </td>
                  <td>{{row.Filesize}}</td>
                  <td>{{row.Created}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
    </lx-tab>

    <lx-tab heading="StockTake">
    </lx-tab>

    <lx-tab heading="WorkOrders">
    </lx-tab>

  </lx-tabs>
</div>

