<lx-dialog class="dialog dialog__scrollable dialog--l bgc-light-gradient" id='userLogDialog' escape-close="true">
    <div class="dialog__header">
        <div class="toolbar bgc-indigo-800 pl++">
            <span class="toolbar__label tc-white fs-title">
                Recent User Activity
            </span>       
            <span lx-dialog-close class="white">X</span>     
        </div>
    </div>

    <div class="data-table-container">
      <table class="data-table">
        <thead>
          <tr>
            <th> Event</th>
            <th> UserName</th>
            <th> Date</th>
            <th> Description</th>
            <th> IP Address</th>
          </tr>
        </thead>
        <tbody>
          <tr class="data-table"
              ng-repeat="l in sitemgrUser.getSelectedLogs()">
                <td>{{l.Type}}</td>
                <td>{{l.Username}}</td>
                <td>{{l.Logdate}}</td>
                <td>{{l.Descr}}</td>
                <td>{{l.IP}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</lx-dialog>

<div class="data-table-container">
  <header class="data-table-header">
    <div class="data-table-header__label">
      <span class="fs-title">Users List</span>
    </div>

    <div class="data-table-header__actions">
      <lx-dropdown position="right" over-toggle="true">
        <button class="btn btn--l btn--blue btn--icon" lx-ripple lx-dropdown-toggle>
          <i class="mdi mdi-dots-vertical"></i>
        </button>

        <lx-dropdown-menu>
          <ul>
              <li><a class="dropdown-link" ui-sref="sitemgr.newuser">New User</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-link" ng-click="sitemgrUser.showLogs()">Show Selected Logs</a></li>
              <li><a class="dropdown-link" ng-click="sitemgrUser.deleteSelected()">Delete Selected</a></li>
          </ul>
      	</lx-dropdown-menu>
  		</lx-dropdown>
     </div>
  </header>

  <table class="data-table">
    <thead>
      <tr>
        <th class="data-table__sortable-cell data-table__sortable-cell--desc"> <i class="mdi mdi-account"></i></th>
        <th> Name</th>
        <th> <i class="mdi mdi-email"></i>Email</th>
        <!-- <th> <i class="mdi mdi-cellphone"></i>SMS</th> -->
        <th> <i class="mdi mdi-factory"></i>Site</th>
        <th> Edit </th>
      </tr>
    </thead>

    <tbody>
      <tr class="data-table__selectable-row"
      		ng-class="sitemgrUser.getClass(u)"
      		ng-repeat="u in sitemgrUser.users"
      		ng-click="sitemgrUser.clickedRow(u)"> 
            <td>{{u.Username}}</td>
            <td>{{u.Name}}</td>
            <td>{{u.Email}}</td>
            <td>{{u.Site}}</td>
            <td>
            	<button class="btn btn--m btn--blue btn--icon" 
            					ng-click="sitemgrUser.clickEdit(u); $event.stopPropagation()"
            					lx-ripple>
            						<i class="mdi mdi-plus"></i>
            	</button>
            </td>
      </tr>
    </tbody>
  </table>
</div>
