<!-- This is a Map of Our Strayer Mate -->
<!-- <img src="img/aust.png" alt=""> -->


  <svg class="svg-map" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <radialGradient id="GreenBtn">
          <stop offset="10%" stop-color="#4f2"/>
          <stop offset="95%" stop-color="#2a1"/>
      </radialGradient>    
      <radialGradient id="YellowBtn">
          <stop offset="10%" stop-color="#ff0">
            <animate attributeName="stop-color"
            values="#da2;#ee0;#ff0;#ff0;#ee0;#da2"
            dur="0.8s"
            repeatCount="indefinite" />
          </stop>
          <stop offset="95%" stop-color="#da2"/>
      </radialGradient>
      <radialGradient id="RedBtn">   <!--  fx="60%" fy="30%"> -->
          <stop offset="10%" stop-color="#fa0">
            <animate attributeName="stop-color"
            values="#f00;#f80;#fa0;#f80;#f00"
            dur="0.8s"
            repeatCount="indefinite" />
          </stop>
          <stop offset="95%" stop-color="#e00">
            <animate attributeName="stop-color"
            values="#800;#a00;#f00;#a00;#800"
            dur="0.8s"
            repeatCount="indefinite" />
          </stop>
      </radialGradient>
    </defs>
    <image xlink:href="/img/aust.png" x="1" y="1" height="364px" width="402px"/>

    <g stroke="black" fill="url(#GreenBtn)">
      <circle cx="260" cy="250" r="12"/>
    </g>
    <g stroke="black" fill="url(#YellowBtn)">
      <circle cx="380" cy="160" r="12"/>
    </g>
    <g stroke="black" fill="url(#RedBtn)">
      <circle cx="360" cy="230" r="12"/>
    </g>

  </svg>
<br>

<div flex-container="row" flex-colunm="12" flex-gutter="24">
  <div flex-item="3" 
          ng-repeat="site in Map.sites"
       class="p+">    
  <button class="btn btn--l btn--blue-grey btn--raised" 
          ng-click="Map.goSite(site)">{{site.Name}}
  </button>      
  </div>
</div>    
