<!-- Sidebar -->
<!--
<div class="sidebar-filter" ng-class="{ 'sidebar-filter--is-shown': Sidebar.isSidebarShown() }" ng-click="Sidebar.toggleSidebar()"></div>


<div class="sidebar" ng-class="{ 'sidebar--is-shown': Sidebar.isSidebarShown() }">
    <div class="sidebar-menu">
        <ul>
            <li>
                <a class="sidebar-menu__link" ui-sref="worker.machines" ng-click="Sidebar.toggleSidebar()">Machines</a>
            </li>
            <li>
                <a class="sidebar-menu__link" ui-sref="worker.reports" ng-click="Sidebar.toggleSidebar()">Reports</a>
            </li>
        </ul>
    </div>
</div>
-->
<div class="main-section-full">
    <div class="main-section__content">
        <ui-view></ui-view>
    </div>
</div>
