<header class="header" ng-controller="headerCtrl as headerCtrl" ng-click="headerCtrl.goHome()">
    <div class="menubar">
        <h1 class="logo">Steel Building Systems International</h1>
    </div>
   
    <nav class="main-nav">
        <ul>
            <li><button class="btn btn--l btn--indigo btn--raised" 
                        ng-if="!headerCtrl.session.loggedIn"
                        ui-sref="landing"
                        lx-ripple>Login</button></li>
            <li><button class="btn btn--l btn-blue btn--raised"
                        ng-if="headerCtrl.session.loggedIn"
                        ng-click="headerCtrl.profile()"
                        lx-ripple>User: {{headerCtrl.session.Username}}</button></li>
            <li><button class="btn btn--l btn--blue-grey btn--raised" 
                        ng-if="headerCtrl.session.loggedIn"
                        ng-click="headerCtrl.logout()"
                        lx-ripple>Logout</button></li>
        </ul>
    </nav>

    <div class="header__stripe"></div>
</header>
