<!-- PreDefine the Login Dialog, which may be used to popup a modal at any time -->
<!-- NOTE this dialog is dealing with an entirely Transcluded scope !!! -->

<lx-login-dialog class="dialog dialog--l bgc-light-gradient" id='loginDialog' escape-close="true">
  <form name="form">
    <div class="dialog__header">
<!--        <div class="toolbar bgc-dark-gradient pl++">  -->
        <div class="toolbar bgc-indigo-800 pl++">
            <span class="toolbar__label tc-white fs-title">
                CMMS Login
            </span>       
            <span lx-dialog-close class="white">X</span>     
        </div>
    </div>

    <div class="dialog__content">
      <div class="mt++" flex-container="row" flex-gutter="24">
        <div flex-item>
          <lx-text-field label="User Name" fixed-label="true" icon="account">
              <input type="text" 
                     ng-model="username" 
                     required
                     autofocus 
                     id="username">
          </lx-text-field>

          <lx-text-field label="Password" fixed-label="true" icon="barcode">
              <input type="password" 
                     required
                     ng-model="passwd">
          </lx-text-field>
        </div>
      </div>
    </div>

    <div class="dialog__actions">
        <!-- <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button> -->
        <button type="submit" 
                class="btn btn--m btn--blue btn--raised" 
                ng-click="login()" 
                ng-disabled="form.$invalid"
                lx-ripple>
                Login !
        </button>
    </div>
  </form>
</lx-login-dialog>

