<header class="header">
    <div class="menubar">
        <h1 class="logo"><a ui-sref="home">Steel Building Systems International</a></h1>
    </div>
   
    <nav class="main-nav">
        <ul>
            <!-- <li>Session = {{cmmsCtrl.Session}} -->
            <li><button ng-if="!cmmsCtrl.Session.loggedIn" ui-sref="landing">Login</button>
            <li><button ng-if="cmmsCtrl.Session.loggedIn" ng-click="cmmsCtrl.logout()">Logout</button>

        </ul>
    </nav>

    <div class="header__stripe"></div>

</header>
