<!-- Banner -->
<div class="banner">
    <div class="banner__logo">
        <img src="/img/factory-equip.jpg">
    </div>

    <h1 class="banner__subtitle">
    	CMMS
    </h1>
    <h3 class="banner__subtitle">
    	Facilities Management
    </h3>
    <div class="banner__stripe"></div>
</div>

<div class="main">
	<div class="main-section">

	<div flex-item="10" flex-grow="1">
		<p>CMMS dev version main entrance screen page</p>

		<h3>Testing some links with authentication</h3>
		<span>Clicking on the link will take you to the page if you have sufficient priv, otherwise it will force a login and proceed.
		If already logged in with lesser privileges, then it will produce an error.</span>
		
		<a ui-sref="public">Public</a>
		<a ui-sref="worker">Worker</a>
		<a ui-sref="admin.dashboard">Admin</a>
		<hr>
		<h3>Login Status :</h3>
		<div ng-if="cmmsCtrl.session.loggedIn">
			<div flex-container="row">
				<div flex-item="1">
					<div class="checkbox mt+">
				    <input type="checkbox" id="loggedin" class="checkbox__input"  checked>
				    <label for="loggedin" class="checkbox__label">Logged In</label>
					</div>
				</div>
			  <div flex-item="1">
			    <lx-text-field label="UserName" disabled="true">
			      <input type="text" ng-model="cmmsCtrl.session.username" ng-disabled="true">
			    </lx-text-field>
			  </div>
				<div flex-item="1">
					<lx-text-field label="Role" disabled="true">
						<input type="text" ng-model="cmmsCtrl.session.role" ng-disabled="true">
					</lx-text-field>
				</div>
			</div>
			<button ng-click="cmmsCtrl.logout()">Logout</button>
		</div>
	</div>

	</div>
</div>
