<!-- Banner -->
<div class="banner">
    <div class="banner__logo">
        <img src="/img/factory-equip.jpg">
    </div>

    <h2 class="banner__subtitle">
    	CMMS System For Facilities Maintenance
    </h2>

    Session = {{cmmsCtrl.session}}

    <div class="banner__stripe"></div>
</div>


<div flex-container="row" flex-gutter="24" flex-align="space-between flex-start">

	<div flex-item="10" flex-grow="1">
		<p>CMMS dev version landing page</p>

		<h3>Testing some links with authentication</h3>
		<a ui-sref="public">Public</a>
		<a ui-sref="worker">Worker</a>
		<a ui-sref="admin">Admin</a>
		<hr>
		<div ng-if="cmmsCtrl.session.loggedIn">
			<div flex-container="row">
				<div flex-item="1">
					<div class="checkbox mt+">
				    <input type="checkbox" id="loggedin" class="checkbox__input"  checked>
				    <label for="loggedin" class="checkbox__label">Logged In</label>
					</div>
				</div>
			  <div flex-item="1">
			    <lx-text-field label="UserName" disabled="true">
			      <input type="text" ng-model="cmmsCtrl.session.username" ng-disabled="true">
			    </lx-text-field>
			  </div>
				<div flex-item="1">
					<lx-text-field label="Role" disabled="true">
						<input type="text" ng-model="cmmsCtrl.session.role" ng-disabled="true">
					</lx-text-field>
				</div>
			</div>
			<button ng-click="cmmsCtrl.logout()">Logout</button>
		</div>
	</div>

</div>

