<div flex-container="column" flex-align="space-between center" style="height: 100%">
<form class="wrapper" flex-item="1">
    <div class="dialog__header">
        <div class="toolbar bgc-dark-gradient pl++">
            <span class="toolbar__label tc-white fs-title">
                CMMS Login
            </span>       
        </div>
    </div>

    <div class="dialog__content bgc-light-gradient">
      <div class="mt++" flex-container="row" flex-gutter="24">
        <div flex-item>
          <lx-text-field label="User Name" fixed-label="true" icon="account">
              <input type="text" ng-model="loginCtrl.username">
          </lx-text-field>

          <lx-text-field label="Password" fixed-label="true" icon="fingerprint">
              <input type="password" ng-model="loginCtrl.passwd">
          </lx-text-field>
        </div>
      </div>
    </div>

    <div class="dialog__actions">
        <!-- <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button> -->
        <button type="submit" class="btn btn--m btn--black btn--flat" ng-click="loginCtrl.login()" lx-ripple>Login !</button>
    </div>
</form>
</div>
